.login-section {
    margin: 2rem 0;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.left-div {
    width: 40%;
    display: flex;
    align-items: center;
}

.login-main-div {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.icons {
    font-size: 25px;
}

.social-icons {
    font-size: 23px;
    margin-right: 1rem;
}

.social-icons:hover {
    cursor: pointer;
    color: blue;
}

#frgt-pswrd {
    text-decoration: none;
}

#frgt-pswrd:hover {
    color: black;
}

#login-btn-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#login-btn {
    width: 10rem;
}

