.signup-section {
    padding: 2rem 0;
}

.main-div {
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: row;
}

.form-div {
    width: 50%;
    margin-right: 2rem;
}

.icons {
    font-size: 20px;
}

.icons-div { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2rem;
}

.icons-div input {
    margin-left: 1rem;
}

#terms-checkbox {
    width: 20rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

#terms-conditions {
    font-size: inherit;
    font-family: inherit;
    margin-right: 5px;
}

#terms-text {
    text-decoration: none;
}

#captcha-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

#reload_href {
    cursor: pointer;
    font-size: 25px;
    margin-right: 4px;
    display: flex;
    flex-direction: column;
}

.reload-icon:hover {
    color: blue;
}

#captcha-text {
    width: 10rem;
    height: 2.5rem;
}

#captcha-input-div {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    
    height: 4rem;
    overflow: hidden;
}

.input-status-div {
    font-size: 12px;
    margin-top: 2px;
    text-align: center;
    color: red;
    
    top: 100%;
    position: relative;
    transition: all .3s ease-out;
    height: 100%;
}

#captcha-text:focus + .input-status-div { 
    cursor: pointer;
    top: 0;
}

#register-div {
    margin-top: 1rem;
}

#register-btn {
    width: 10rem;
}