main {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
}

/* home page banner section */
#mbanner-section {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.mbanner-div {
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.mbanner-div1 {
    width: 500%;
    height: 30rem;
    display: flex;
    transition: 2s;
}

.mbanner-div1 input {
    display: none;
}

.mySlides {
    width: 20%;
    transition: 2s;
}

.b-img {
    width: 100%;
    height: 30rem;
    position: absolute;
}

.b-shop-btn {
    position: relative;
    font-size: 13px;
    z-index: 2;
    border: 0;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 600;
    background: #f5f5f5;
    box-shadow: 0px 0px 15px rgb(162, 162, 162);
    margin-top: 15rem;
    margin-left: 43.5rem;
}

/* css for manual slide navigation */
.navigation-manual, .navigation-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 450px;
}

.manual-btn {
    border: 2px solid #6d9962;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #6d9962;  
}

#bnr-changer1:checked ~ .first {
    margin-left: 0;
}

#bnr-changer2:checked ~ .first {
    margin-left: -20%;
}

#bnr-changer3:checked ~ .first {
    margin-left: -40%;
}

#bnr-changer4:checked ~ .first {
    margin-left: -60%;
}

/* css for automatic navigation */
.navigation-auto div {
    border: 2px solid #6d9962;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#bnr-changer1:checked ~ .navigation-auto .auto-btn1 {
    background: #6d9962;
}

#bnr-changer2:checked ~ .navigation-auto .auto-btn2 {
    background: #6d9962;
}

#bnr-changer3:checked ~ .navigation-auto .auto-btn3  {
    background: #6d9962;
}

#bnr-changer4:checked ~ .navigation-auto .auto-btn4  {
    background: #6d9962;
}

/* section 2 - text section */
#section2 {
    background-image: url("../../assets/images/face-banner2.png");
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#section2 h1 {
    color: #088178; 
}

#section2 button {
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 10px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


/* section 3 features section */
.fet-section {
    padding: 40px 80px;
}

#section3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#section3 .icon-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.02);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#section3 .icon-box:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
}

#section3 .icon-box img {
    width: 100%;
    margin-bottom: 10px;
    padding: 1rem 1.5rem;
    filter: opacity(70%);
}

#section3 .icon-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #dde1fd;
}

/* featured product section */
#section4 {
    text-align: center;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

#section4 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#section4 h2 {
    margin-top: 2rem;
    letter-spacing: 1px;
}

#section4 .pro {
    width: 23%;
    height: 100%;
    min-width: 250px;
    padding: 1rem;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#section4 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#section4 .pro img {
    width: 100%;
    border-radius: 20px;
}

#section4 .pro .des {
    text-align: start;
    padding: 10px 1rem;
}

#section4 .pro .des span {
    color: #606063;
    font-size: 14px;
}

#section4 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
}

#section4 .pro .des .ics {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#section4 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#section4 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
} 

#section4 .pro .cart:hover {
    color: black;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}


/* product category section */
#category-section {
    height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cat-makeup-div{
    background-image: url("/src/assets/images/makeup-banner.jpg");
    width: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#cat-makeup-div-div {
    background-color: rgb(37, 53, 76);
    height: 25rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    font-family: 'Josefin Sans';
}

#cat-skin-div {
    background-image: url("/src/assets/images/skincare-banner.jpg");
    width: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#cat-skin-div-div{
    background-color: #088178;
    height: 25rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    font-family: 'Josefin Sans';
}

#cat-makeup-h2 {
    width: 15rem;
    text-align: center;
    color: white;
}

#cat-skin-h2 {
    width: 15rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

#cat-makeup-btn {
    width: 10rem;
    border-radius: 0;
    margin-top: 3rem;
    box-shadow: 5px 5px 10px;
}

#cat-skin-btn {
    width: 10rem;
    border-radius: 0;
    margin-top: 3rem;
    box-shadow: 5px 5px 10px black;
}

/* scroll banner section */
#scroll-banner-section {
    height: 24rem;
    width: 100%;
    margin-top: 1rem;
}

#scroll-banner-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#sb-h-div {
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

#sb-b-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sb-img-div {
    height: 17rem;
    width: 18.5rem;
}

.sb-img {
    height: 100%;
    width: 100%;
    display: block;
    transition: .5s ease;
    opacity: 1;
}

.sb-img:hover {
    opacity: 0.3;
}

/* banner3 section */
#banner3-section {
    margin-top: 1rem;
}

#banner3-div {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(37, 53, 76);
}

#b3-leftb {
    height: 100%;
    width: 33rem;
}

#b3-center {
    height: 100%;
    width: 22rem;
    background-color: rgb(37, 53, 76);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans';
}

#b3-center-h2 {
    text-align: center;
    margin-bottom: 4rem;
    letter-spacing: 2px;
}

#b3-center-btn {
    width: 15rem;
    border-radius: 0;
    box-shadow: 5px 5px 10px;
}   

#b3-rightb {
    height: 100%;
    width: 33rem;
}

#b3-left-img {
    height: 100%;
    width: 100%;
}

#b3-right-img {
    height: 100%;
    width: 100%;
}

/* product banner section2 */
#product-bnr2-sec {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans';
}

#prod-bnr2-div {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.prod-div {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    border-radius: 5px;
    position: relative;
}

.prod-div-nav {
    text-decoration: none;
}

.prod-img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.22);
}

.prod-img:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.32);
}

.prod-img-text {
    background-color: #6d9962;
    color: white;
    width: fit-content;
    padding: 0 10px;
    position: relative;
}

#prod-bnr2-btn-div {
    width: 15rem;
    height: 2.5rem;
}

#prod-bnr2-btn {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    letter-spacing: 2px;
}