*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Josefin Sans';
    scroll-behavior: smooth;
}

main {
    background-color: #fafafa;
    margin-top: 7rem;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e5e5e5;
    color: rgb(0, 0, 0);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    font-family: 'Josefin Sans';
}

#header-top {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header-news {
    width: 100%;
    height: 2rem;
    background-color: #b6d5ae;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.h-news-text {
    width: 100%;
    color: #555;
    font-size: 13px;
    text-align: center;
    padding: 0 6rem;
    padding-top: 15px;
    font-weight: 400;
    font-family: 'Josefin Sans';
    text-transform: uppercase;

    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    white-space: nowrap;
    letter-spacing: 1px;
    animation: move-rt1 6000ms linear infinite;
}

@keyframes move-rt1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#navbar {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: raw;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
}

#logo {
    width: 5rem;
    height: 5rem;
}

#h-nav-div-nav {
    padding: 0;
    margin: 0;
}

#h-nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 25rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.h-nav-li{
    color: black;
}

.drop-li {
    float: left;
    overflow: hidden;
    color: black;
}

.drop-link {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    text-decoration: none;
    color: black;
    font-weight: 600;
    border: 0;
    background: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e5e5e5;
    min-width: 8rem;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    border-radius: 5px;
    padding: 5px;
}

.dropdown-item {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: 0;
}

.dropdown-item:hover {
    background-color: red;
    
}

.drop-li:hover .dropdown-content {
    display: block;
}

.h-nav-a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    border: 0;
    background: 0;
}

.h-nav-a:hover .drop-li:hover .drop-link {
    color: rgb(5, 5, 205);
    cursor: pointer;
}

#h-nav-div-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10rem;
}

#login-icon {
    padding: 0;
}

#cart-icon {
    padding: 0;
    margin-left: 1rem;

}

.top-icons {
    font-size: 25px;
}


