#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    color: rgb(0, 0, 0);
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100%;
    font-family: 'Josefin Sans';
}

#header-top {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header-news {
    width: 100%;
    height: 2rem;
    background-color: #6d9962;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.h-news-text {
    width: 100%;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 0 6rem;
    padding-top: 15px;
    font-weight: 400;
    font-family: 'Josefin Sans';
    text-transform: uppercase;

    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    white-space: nowrap;
    letter-spacing: 1px;
    animation: move-rt1 6000ms linear infinite;
}

@keyframes move-rt1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#navbar {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
}

#logo {
    width: 5rem;
    height: 5rem;
}

.search-form {
    width: 15rem;
    height: 2rem;
    position: relative;
    border-radius: 25px;
    background: grey;
}

.search-input {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    padding: 8px 0px 8px 40px;
    background: #f5f5f5;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.search-input:focus {
    outline: none;
}

.search-btn {
    position: absolute;
    width: 40px;
    margin-top: 4px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
}

.search-icon {
    font-size: 22px;
    color: #088178;
}

.search-form .result {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 400px;
    overflow-y: scroll;
}

.search-form .result-list {
    padding: 10px 20px;
}

.search-form .result-list:hover {
    background-color: white;
    cursor: pointer;
}

#h-nav-div-nav {
    padding: 0;
    margin: 0;
    width: 50rem;
}

#h-nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 90%;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.h-nav-li{
    color: black;
    position: relative;
}

.h-nav-a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.3s;
}

.h-nav-a:hover {
    cursor: pointer;
    color: #088178;
}

.h-nav-a:hover::after {
    content: "";
    width: 80%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 0px;
    cursor: pointer;
}

#h-nav-div-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10rem;
}

#login-icon {
    padding: 0;
}

#cart-icon {
    padding: 0;
}

#login-icon:hover, #cart-icon:hover, #logout-icon:hover {
    color: blue;
}

.top-icons {
    font-size: 25px;
    color: #4b4b4b;
}



