#first-sec {
    background-color: rgb(235, 235, 235);
    margin-bottom: 2rem;
}

#head-sec-div { 
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.title-page {
    text-transform: uppercase;
}

.row {
    padding: 0;
}

#search-btn {
    z-index: 0;
}

.custom-control {
    display: flex;
    flex-direction: row;
    margin: 10px 1rem;
}

.custom-control-input {
    margin-right: 10px;
}
