footer {
    margin-top: 2rem;
}

.f-container{
	max-width: 1170px;
	margin:auto;
}

.f-row{
	display: flex;
	flex-wrap: nowrap;
}

.f-ul{
	list-style: none;
    padding: 0;
}

.f-footer{
	background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



/* Footer section */
/* footer {
    height: 20rem;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    background-color: rgb(37, 53, 76);
    border-top: 3px solid #6d9962;
    font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
}

#footer-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

#footer-link-div {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10rem;
}

#f-link-first {
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
}

#f-link-second {
    display: flex;
    flex-direction: column;
}

.f-links {
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
}

#footer-social-div {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-social-links {
    margin-left: 1rem;
    color: white;
    cursor: pointer;
}

#footer-copyright-div {
    width: 100%;
    background-color: #6d9962;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    font-family: ano-bold_regular,Helvetica,Arial,sans-serif;
}

#f-copyright-text {
    font-size: 12px;
}  */